@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode styles */
.bg-gray-100 {
  background-color: #f7fafc;
}
.bg-indigo-700 {
  background-color: #4c51bf;
}
.bg-gray-700 {
  background-color: #2a2e37;
}
.text-gray-800 {
  color: #2d3748;
}

/* Dark mode styles */
.dark .bg-gray-100 {
  background-color: #2d3748;
}
.dark .bg-indigo-700 {
  background-color: #2b6cb0;
}
.dark .bg-gray-700 {
  background-color: #1a202c;
}
.dark .text-gray-800 {
  color: #f7fafc;
}
